@import "./style.css";

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    padding: 24px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    filter: drop-shadow(16px 0 52px rgba(14, 24, 80, 0.2));
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-menu__logo {
    margin: -5px auto 0 17px;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
}

.menu__main-menu {
    margin-bottom: auto;
}

.main-menu__item {
    display: block;
    text-decoration: none;
    padding: 5px 0 5px 2px;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    font-weight: 500;
}

.main-menu__item:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #41F6D7;
}

.main-menu__item--active {
    color: #7E7E82;
}

.main-menu__item--active::before {
    position: absolute;
    left: 0;
    margin-top: -4px;
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info__connection {
    margin: 16px 0;
}

.contact-info__mail {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
}

.contact-info__mail:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #41F6D7;
    padding-left: 2px;
}

.contact-info__phone-number {
    color: #1B1C21;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.6px;
    margin-top: 12px;
}

.contact-info__phone-number:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #41F6D7;
    padding-left: 2px;
}

.togle-lang {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: start;
}

.toggle-lang__item {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    font-weight: 500;
    margin-right: 7px;
}

.toggle-lang__item:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #41F6D7;
}

.toggle-lang__item--active {
    color: #7E7E82;
}

.a-interaction:hover {
    filter: opacity(0.8);

}


@media screen and (max-width: 960px) {
    .main-menu {
        height: 360px;
    }

    .menu__main-menu {
        margin-top: 25px;
    }

    .footer__togle-lang {
        margin-top: 8px;
    }

}

@media screen and (min-width: 960px) {
    .main-menu {
        height: 416px;
    }

    .menu__main-menu {
        margin-top: 50px;
    }

    .footer__togle-lang {
        margin-top: 40px;
    }
}