/* общие классы для проектов */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* общее для текущего проекта */
body {
    margin: 0;
    font-family: "TT Lakes", Arial, sans-serif;
    color: #1B1C21;
    font-size: 14px;
    letter-spacing: 0.2px;
    background-color: #F8F8F8;
}

.text {
    color: #1B1C21;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    border-bottom: 1px solid #D9FFF5;
}

.main {
    background-color: #F8F8F8;
}

.a-interaction {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
}

.logo__link {
    width: 97px;
    height: 51px;
    display: block;
    border-radius: 26px;
}

.logo__link:focus,
.a-interaction:focus {
    outline: none;
    box-shadow: 0 0 0 2pt #41F6D7;
    /* box-shadow: 0 0 3pt 2pt #41F6D7; */
}

.header__connection {
    margin-right: 20px;
}

.connection {
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.bid-container {
    display: flex;
    justify-content: space-between;
}
.header__bid-container::before {
    content: "";
    position: relative;
    top: 4px;
    left: 0px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;

}

.header-title__text {
    font-weight: bold;
    font-size: 28px;
}

.header-title__text::before {
    position: absolute;
    left: 0;
    content: "";
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;
}

.nav-page {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 2px 0 2px 2px;
    margin-left:-2px;
}

.nav-page__item {
    padding: 6px 9px 10px 16px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    text-decoration: none;
    color: #7E7E82;
    font-weight: 500;
    max-height: 40px;
}

.nav-page__item:focus {
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #41F6D7;
}

.nav-page__item--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #ffffff;
}

.nav-page__shadow-end {
    position: absolute;
    right: 0;
    width: 35px;
    height: 40px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

/* для главной страницы */
.header__burger {
    margin-left: 16px;
}

.story-picture__title {
    margin: 14px 0 19px 22px;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
}

.story-picture__picture {
    /* position: relative; */
    background-repeat: no-repeat;
}

.story-picture__text {
    overflow: hidden;
}

.show-more {
    padding: 16px 25px;
}

.show-more__label {
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.show-more__icon {
    position: absolute;
    margin-left: -26px;
    margin-top: -2px;
    width: 24px;
    height: 24px;
    background-image: url(./img/story_picture/expand.svg);
}

.show-more__input:checked+.show-more__icon {
    background-image: url(./img/story_picture/expand.svg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    transform: rotate(90deg);
}

.show-more__input:focus+.show-more__icon {
    outline: 2px solid #41F6D7;
}

/* @media (max-width: 310px) {} */

/* 320(640) */
@media (max-width: 640px) {

    .connection,
    .story-picture__title,
    .header-title__bid {
        display: none;
    }

    .main {
        padding: 24px 16px 0 16px;
    }

    .layout-positioner {
        min-width: 310px;
    }

    .header__bid-container {
        min-width: 132px;
        margin-right: 16px;
    }

    .header__logo {
        margin: -5px auto 0 auto;
    }

    .story-picture {
        padding-top: 22px;
    }

    .story-picture__picture {
        position: relative;
        left: -16px;
        width: calc(100% + 32px);
        min-height: 190px;
        background-image: url(./img/story_picture/CPS_320x230.jpg);
        background-position-x: -10px;
        background-size: cover;
        padding-top: 58%;
    }

    .story-picture__text {
        max-height: 90px;
    }

    .story-picture__text--all {
        max-height: 100%;
    }


}

@media (min-width: 640px) and (max-width: 960px) {

    .story-picture__title,
    .header-title__bid {
        display: none;
    }

    .main {
        padding: 24px 24px 0 16px;
    }

    .header__bid-container {
        min-width: 140px;
        margin-right: 24px;
    }

    .header__logo {
        margin: -5px auto 0 40px;
    }

    .header__logo::before {
        content: "";
        position: absolute;
        margin-left: -20px;
        margin-top: 12px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }

    .story-picture {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .story-picture__picture {
        border-radius: 8px;
        margin-left: 48px;
        min-width: 360px;
        min-height: 260px;
        background-image: url(./img/story_picture/CPS_360x260.jpg);
    }

    .story-picture__text {
        max-height: 154px;
    }

    .story-picture__text--all {
        max-height: 203px;
        overflow-y: auto;
    }
}

@media (min-width: 960px) {

    .header {
        display: none;
    }

    .main {
        padding: 23.24px 32px 0;
    }

    .header-title__bid,
    .header-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        margin: -5px auto 0 40px;
    }

    .header__logo::before {
        content: "";
        position: absolute;
        margin-left: -20px;
        margin-top: 12px;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }

    .header-title__text {
        margin-bottom: 6px;
    }

    .label-bautton {
        margin-right: 9px;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
        font-weight: 500;
    }

    .label-bautton--last {
        margin-left: 32px;
    }

    .story-picture {
        display: flex;
        justify-content: space-between;
    }

    .story-picture__picture {
        border-radius: 8px;
        margin-top: 50px;
        margin-left: 36px;
        min-width: 531px;
        min-height: 305px;
        background-image: url(./img/story_picture/CPS_531x383.jpg);
    }
}

@media (min-width: 1120px) {
    .layout-positioner {
        width: 1120px;
        margin: 0 auto;
    }

    .header-title__text::before {
        left: auto;
        margin-left: -32px;
    }
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('./fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Regular.woff') format('woff'),
        url('./fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Light.eot');
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        /* спросить про локал */
        url('./fonts/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Light.woff') format('woff'),
        url('./fonts/TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        /* спросить про локал */
        url('./fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Medium.woff') format('woff'),
        url('./fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        /* спросить про локал */
        url('./fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Bold.woff') format('woff'),
        url('./fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-ExtraBold.eot');
    src: local('TT Lakes ExtraBold'), local('TTLakes-ExtraBold'),
        url('./fonts/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-ExtraBold.woff') format('woff'),
        url('./fonts/TTLakes-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}